/* Overall design 
  --- 01 TYPOGRAPHY SYSTEM
  
  - font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  - font weights:
    Default: 400
  - line heights:
    Default: 1
  -MAIN COLOR: #087f5b
  -GREY COLOR: #343a40
  --- 02 COLORS
  -Primary: #e67e22
  -Tints: #fdf2e9, #cf711f
  -Shades:
  -Accents:
  -Grays:
  #555
  #333
  --- 03 SHADOWS
  --- 04 BORDER-RADIUS
  --- 05 WHITESPACES
  -Spacing system (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #fff;
}
/******************************/
/* GENERAL REUSABLE COMPONENTS */
/******************************/

.container {
  max-width: 120rem; /* 1140px or 114rem is also something like a standart */
  margin: 3rem auto;
  /* padding: 0 3.2rem; */
  /* border: 1px solid blue; */
  border-radius: 10px;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--2-rows {
  grid-template-rows: repeat(2, 1fr);
}
.grid--3-rows {
  grid-template-rows: repeat(3, 1fr);
}
.grid--4-rows {
  grid-template-rows: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  border: 1px solid #fff;
  transition: background-color 0.3s;
}
