/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .main-nav::after {
    color: red;
    content: "1";
  }
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  .main-nav::after {
    color: red;
    content: "2";
  }
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px) {
  .main-nav::after {
    color: red;
    content: "3";
  }
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .main-nav::after {
    color: red;
    content: "4";
  }
  .main-nav {
    position: absolute;
    max-width: 100%;
    top: 2rem;
    left: 1.4rem;
    /* border: 1px solid red; */
    z-index: 1;
  }

  .main-nav-list {
    display: flex;
    list-style-type: none;
    align-items: flex-start;
    gap: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
    flex-direction: column;
  }

  .logo-and-content {
    display: flex;
    flex-direction: column;
    height: 20rem;
    position: absolute;
    bottom: 35rem;
    max-width: 100%;
    /* width: 100%; */
  }

  .container img.logo {
    margin-left: 1rem;
    margin-bottom: 2rem;
  }
  .name-position-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .logo-and-content h1.name {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 900;
    margin: 0;
  }

  .cta-btn-cont {
    margin-top: 6.8rem;
    margin-left: 0;
  }

  .btn:link,
  .btn:visited {
    font-size: 1rem;
    padding: 1rem 1.8rem;
  }

  .social-media-cont {
    top: 50rem;
    left: 0;
    gap: 0.5rem;
    max-width: 100%;
  }

  .social-media-link img {
    height: auto;
    max-width: 100%;
  }
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .main-nav::after {
    color: red;
    content: "5";
  }
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  .main-nav::after {
    color: red;
    content: "6";
  }
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .main-nav::after {
    color: red;
    content: "7";
  }
}

/* #### Desktops #### */
@media screen and (min-width: 1024px) {
  .main-nav::after {
    color: red;
    content: "8";
  }
}
