.resume-container {
  position: relative;
  background-image: url("../imgs/brown_rec.png");
  background-size: cover;
  width: 120rem;
  height: 70rem;
  border-radius: 10px;
  border: none;
}

.main-nav {
  position: absolute;
  /* max-width: ; */
  /* top: 2rem; */
  left: 84rem;
  z-index: 1;
}

.baloon-cont {
  position: absolute;
  top: 0;
  left: 60rem;
  /* border: 1px solid #fff; */
  max-width: 50rem;
  z-index: 0;
}

.baloon-cont img {
  max-width: 40rem;
  height: 40rem;
}

.baloon-cont .hi-text {
  position: absolute;
  /* border: 1px solid green; */
  font-size: 2.4rem;
  max-width: 29rem;
  word-wrap: break-word;
  top: 13rem;
  left: 6rem;
  color: #e8590c;
}

.education {
  display: relative;
  line-height: 3rem;
}

.education-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 3rem; */
  /* border: 1px solid red; */
}

.education h2,
.subheading,
.education-complete-label,
.education-complete-list,
.education .education-cartoon,
.subheading-online-courses,
.mysql-beginner,
.js-weird-parts,
.mysql-cert-img,
.js-weird-parts-img,
.js-frontend-softuni,
.js-frontend-softuni-img {
  position: absolute;
  color: #e8590c;
  /* border: 1px solid black; */
}

.education h2 {
  top: 3rem;
}

.education img {
  max-width: 10rem;
  height: 10rem;
}

.education .education-cartoon {
  top: 20rem;
}
.subheading {
  margin-top: 30rem;
}

.education-complete-label {
  top: 31rem;
  font-size: 1.4rem;
}

.education-complete-list {
  top: 34rem;
  left: 15rem;
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.5rem;
}

.subheading-online-courses {
  font-size: 2rem;
  top: 48rem;
}

.education .link:link,
.education .js-weird-parts:link,
.education .js-frontend-softuni:link,
.education .link:visited,
.education .js-weird-parts:visited,
.education .js-frontend-softuni:visited {
  text-decoration: none;
  font-size: 1.2rem;
}
.education .mysql-beginner {
  top: 51rem;
}

.education .js-weird-parts {
  top: 2rem;
}

.education .js-frontend-softuni {
  top: 24rem;
}

.education .cert-img,
.education .js-weird-parts-img {
  height: 14rem;
  max-width: 14rem;
}

.education .js-frontend-softuni-img {
  height: 35rem;
  max-width: 35rem;
}

.education .mysql-cert-img {
  top: 55rem;
}

.education .js-weird-parts-img {
  top: 7rem;
}

.education .js-frontend-softuni-img {
  top: 30rem;
}
