/******************************/
/* TWO PARTS CONTAINER */
/******************************/
.two-parts-container {
  display: flex;
  /* border: 1px solid red; */
  border-radius: 10px;
}

/******************************/
/* LEFT AND RIGHT CONTAINERS */
/******************************/
.left-container img,
.right-container img {
  width: 60rem;
  height: 70rem;
}

.left-container img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-container img {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bottom_background_img {
  z-index: -1;
}

.top_right_background_img {
  position: absolute;
  left: 0rem;
}

/******************************/
/* TOP RIGHT NAVIGATION */
/******************************/
.main-nav {
  position: absolute;
  top: 2rem;
  left: 25rem;
  z-index: 1;
}

.main-nav-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 3.2rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  padding: 0.5rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active,
.current-page {
  /* border: 1px solid #fff; */
  background-color: #fff;
  color: #e8590c;
  box-shadow: inset 0 0 0 10px #fff;
}

/******************************/
/* LOGO AND CONTENT */
/******************************/
.logo-and-content {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  height: 20rem;
  position: absolute;
  bottom: 35rem;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  /* z-index: 3; */
}

.container img.logo {
  width: 43.8rem;
  height: 16.8rem;
  margin-left: 19rem;
}

.logo-and-content h1.name {
  /* border: 1px solid; */
  text-transform: uppercase;
  margin-left: 10rem;
  font-size: 1.6rem;
  font-weight: 900;
}

/* .logo-and-content .position-text, */
.position-resume-cont .btn {
  /* margin: 1rem 0 0 26.7rem; */
  /* margin-top: 2rem; */
  padding: 1rem 1rem;
  border: 1px solid #fff;
  background-color: #fff;
  color: #e8590c;
  border-radius: 10px;
  max-width: 10rem;
  text-align: center;
}

.logo-and-content .position-text {
  margin-top: 0.5rem;
  margin-left: 0.6rem;
}
/* .position-resume-cont {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-left: 10rem;
} */

.cta-btn-cont {
  /* border: 1px solid; */
  margin-top: 4.8rem;
  margin-left: 25rem;
  max-width: 25rem;
}

.btn--cta-download:hover,
.btn--cta-download:active {
  background-color: #fff;
  color: #e8590c;
  /* border: 3px solid #fff; */
  /* Trick to add border inside */
  box-shadow: inset 0 0 0 1px #fff;
}
